.check-box {
  width: 30px;
  height: 30px;
}
.items-text {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.todo-items {
  display: flex;
  justify-content: space-between;
}
.delete-icon {
  cursor: pointer;
  display: flex;
  gap: 10px;
}
